.-home-banner {
  gap: 20px;

  > * {
    width: 50%;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#control {
  display: flex;
  align-items: center;
  gap: 5px;
  > * {
    flex-shrink: 0;
  }
}

#browser {
  height: 90dvh;
  width: 90dvw;
  background: transparent;
}

#posts {
  max-height: 300px;
  padding: 10px;
  overflow-y: auto;
  a {
    text-wrap: auto;
  }
}

@media screen and (max-width: 600px) {
  .-home-banner {
    flex-direction: column;
    > * {
      width: 100%;
    }
  }
}
