.home-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  color: var(#fff);
}

#bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
}

#content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 20px;
  justify-items: center;
  overflow-y: auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  overflow-y: auto;
  padding-top: 20dvh;

  > * {
    flex-shrink: 0;
  }
}

nav,
#extra {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  width: 100%;

  .card {
    height: 100%;
  }
}

.app-name {
  display: flex;
  gap: 10px;
  color: var(--color-text);

  .icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}
