.__container_settings {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#bar {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

#content {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#tabs-bar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  max-width: 100%;
  padding: 20px 10px;
  border-right: 1px solid var(--color-primary);
  text-align: center;
  flex-shrink: 0;
  gap: 20px;
  z-index: 1;
}

#tabs {
  height: fit-content;
  max-height: 100%;
}

.tab-item {
  display: block;
  padding: 10px 0;
}

#view {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 20px max(20px, calc(50vw - 400px));
}
