.home-container {
  width: 100%;
  height: 100%;
  padding: 20px max(calc(50vw - 400px), 20px);

  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  width: 100%;
  .card {
    height: 100%;
  }
}
