.__container {
  display: flex;
  gap: 10px;
  height: 100%;
  padding: 20px;
  min-width: min(800px, calc(340px + 80vw));

  #bar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    width: 300px;
    min-width: 300px;

    #goal-list {
      overflow-y: auto;

      > * {
        border-left: 0px solid var(--color-text);
        transition: border 0.3s ease-in-out;
      }

      .selected {
        border-left-width: 5px;
        background-color: #0002;
      }
    }
  }

  #achievements {
    width: 100%;
    max-width: 80vw;

    .item {
      padding: 5px 0;
    }
  }
}
