.__container {
  display: flex;
  gap: 10px;
  height: 100%;
  padding: 20px;
  overflow-y: hidden;
}

#bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 20px;
}

#goal-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  > * {
    flex-shrink: 0;
    cursor: pointer;
    transition: border 0.25s ease-in-out;
  }
}

#list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow-y: hidden;
  > * {
    flex-shrink: 0;
  }
}
#list-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  > * {
    flex-shrink: 0;
  }
}

.selected {
  border-radius: 10px;
  background-color: var(--color-text);
  color: var(--color-body);
}

.text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

@media screen and (max-width: 768px) {
  .__container {
    flex-direction: column;
  }

  #bar {
    height: fit-content;
    width: 100%;
  }
  #goal-list {
    flex-direction: row;
    > * {
      width: fit-content;
    }
  }
}
