.overlay {
  background-color: #0007;
  z-index: 99;
}

.container {
  width: 25vw;
  max-width: min(90vw, 300px);
  overflow-y: hidden;
  background-color: var(--card-background);

  height: 100%;
  transition: transform 0.2s ease-in-out;
  z-index: 100;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100vw;
  }
}

#content {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  padding: 20px;
  overflow-y: scroll;

  > * {
    flex-shrink: 0;
  }
}

.app {
  width: 100%;
  padding: 10px;
  color: var(--color-primary);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
