.overlay {
  background-color: #0007;
  z-index: 99;
}

.container {
  width: min(240px, 90vw);
  overflow-y: hidden;
  background-color: var(--card-background);

  height: 100%;
  transition: transform 0.2s ease-in-out;
  z-index: 100;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  padding: 20px;
  overflow-y: scroll;

  > * {
    flex-shrink: 0;
  }
}

.app {
  width: 100%;
  padding: 10px;
  color: var(--color-primary);

  .app-name {
    width: 100%;
    text-wrap: auto;
    display: flex;
    gap: 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
    color: var(--color-primary);

    .icon {
      width: 30px;
      height: 30px;
      flex-shrink: 0;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
