.__selector {
  display: flex;
  backdrop-filter: blur(20px);
  transition: transform 0.5s ease-in-out;
  background-color: color-mix(in srgb, var(--color-body) 20%, transparent);
  padding: 0px max(calc(50vw - 400px), 20px);

  >div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    overflow-y: hidden;
    flex: 1;

    .list {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      overflow-y: auto;

      .cell {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px;
        cursor: pointer;
        transition:
          background-color 1s ease-in-out,
          border 0.3s ease-in-out;
      }

      .cell.selected {
        background-color: color-mix(in srgb, var(--color-text) 20%, transparent);
      }

      .sub-text {
        color: color-mix(in srgb, var(--color-text) 40%, transparent)
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .__selector {
    flex-direction: column;
  }
}