.lyrics-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  text-align: center;
  > div {
    flex-shrink: 0;
  }
}

.lyric-item {
  position: relative;
  transition: color 2s;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.lyrics-content {
  transform: scale(calc(1 / 1.2));
}

.now-playing {
  .lyrics-content {
    color: var(--color-primary);
    transition:
      transform 0.5s,
      color 0.5s;
    text-shadow: 0px 0px 40px var(--color-text);
    transform: scale(calc(1));
  }
}

.lyrics-text {
  font-size: 24px;
}

.lyrics-translation {
  font-size: 16px;
}
