@import url('https://fonts.font.im/css2?family=JetBrains+Mono:wght@100..900&display=swap');
@import url('https://fonts.font.im/css2?family=Noto+Sans:wght@100..900&display=swap');
@import url('https://fonts.font.im/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.font.im/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.font.im/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('hoyo-glyphs-with-meta/css');

html,
input {
  font-family: var(--font-family);
}

html {
  --d-font-family: 'Noto Sans SC', 'Noto Sans', sans-serif;
}

html[lang='zh-Hant'] {
  --d-font-family: 'Noto Sans TC', 'Noto Sans', sans-serif;
}

html[lang='ja'] {
  --d-font-family: 'Noto Sans JP', 'Noto Sans', sans-serif;
}

body {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}