/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap'); */
@import url('https://fonts.font.im/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap'); */
@import url('https://fonts.font.im/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap'); */
@import url('https://fonts.font.im/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap'); */
@import url('https://fonts.font.im/css2?family=Noto+Sans:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */
@import url('https://fonts.font.im/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.font.im/css2?family=JetBrains+Mono:wght@100..900&display=swap');

@font-face {
  font-family: Teyvat;
  src: url('@/data/fonts/files/TeyvatBlack-Regular.woff2');
}

* {
  font-weight: 500;
}

*[lang='en'] {
  --font-family: Outfit, Noto Sans, sans-serif;
  font-family: var(--font-family);
}

*[lang='zh-Hans'] {
  --font-family: Outfit, Noto Sans, 'Noto Sans SC', sans-serif;
  font-family: var(--font-family);
}

*[lang='zh-Hant'] {
  --font-family: Outfit, Noto Sans, 'Noto Sans TC', sans-serif;
  font-family: var(--font-family);
}

*[lang='ja'] {
  --font-family: Outfit, Noto Sans, 'Noto Sans JP', sans-serif;
  font-family: var(--font-family);
}

*.teyvat {
  --font-family: Teyvat, Outfit, Noto Sans, 'Noto Sans SC', sans-serif;
}
