@import url('https://hoyo-fonts.kuriyota.com/fonts/GI-zh-cn/result.css');
@import url('https://hoyo-fonts.kuriyota.com/fonts/GI-ja-jp/result.css');
@import url('https://hoyo-fonts.kuriyota.com/fonts/HSR-zh-cn/result.css');
@import url('https://hoyo-fonts.kuriyota.com/fonts/HSR-ja-jp/result.css');
@import url('https://hoyo-fonts.kuriyota.com/fonts/ZZZ-en-us/result.css');
@import url('https://hoyo-fonts.kuriyota.com/fonts/ZZZ-zh-cn/result.css');
@import url('https://hoyo-fonts.kuriyota.com/fonts/ZZZ-ja-jp/result.css');

@import url('https://fonts.font.im/css2?family=JetBrains+Mono:wght@100..900&display=swap');

html {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

html[lang='en'] {
  --font-family: 'GI-zh-cn', sans-serif;
}

html[lang='zh-Hans'] {
  --font-family: 'GI-zh-cn', sans-serif;
}

html[lang='ja'] {
  --font-family: 'GI-ja-jp', 'GI-zh-cn', sans-serif;
}

html[data-game='HSR'][lang='en'] {
  --font-family: 'HSR-zh-cn', sans-serif;
}
html[data-game='HSR'][lang='zh-Hans'] {
  --font-family: 'HSR-zh-cn', sans-serif;
}
html[data-game='HSR'][lang='ja'] {
  --font-family: 'HSR-ja-jp', 'HSR-zh-cn', sans-serif;
}

html[data-game='ZZZ'][lang='en'] {
  --font-family: 'ZZZ-en-us', 'ZZZ-zh-cn', sans-serif;
}
html[data-game='ZZZ'][lang='zh-Hans'] {
  --font-family: 'ZZZ-zh-cn', sans-serif;
}
html[data-game='ZZZ'][lang='ja'] {
  --font-family: 'ZZZ-ja-jp', 'ZZZ-zh-cn', sans-serif;
}

.mono {
  font-family: 'JetBrains Mono', monospace;
}
