.__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  overflow-y: auto;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 600px;
}

#actions {
  flex-shrink: 0;
}

#keys {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 5px;
  flex-grow: 1;
  overflow-y: auto;
}

.card {
  flex-shrink: 0;

  .key {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  #info {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}

#commit {
  height: 80%;
  width: 80%;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;

  #content {
    display: flex;
    height: 100%;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    overflow: auto;

    > * {
      flex-shrink: 0;
    }

    #picker {
      display: flex;
      overflow-x: auto;
    }
  }
}
