#list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px var(--base-padding);
  overflow: auto;
}

#failed {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.question-bank {
  width: 100%;
  font-size: 1em;
}
