.dictionary-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

#search {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
}

#result {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  #list {
    height: 100%;
  }

  .word {
    h5 {
      font-size: 1em;
      line-height: 1.5em;
    }

    p {
      font-size: 1.2em;
    }

    .kana {
      font-size: 0.8em;
    }

    .tag {
      cursor: pointer;
      margin: 0px 1px;
    }
  }
}
