.word-container {
  table {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 8px;
  }

  tr {
    display: contents;
  }

  td {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 2px;
  }

  td:nth-child(1),
  td:nth-child(3) {
    white-space: nowrap;
  }

  h5 {
    font-size: 1em;
  }

  p {
    font-size: 1.2em;
  }

  .kana {
    font-size: 0.8em;
  }

  .tag {
    cursor: pointer;
    margin: 1px;
  }
}
