.translator {
  margin: 20px max(20px, calc(50vw - 600px));
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#bar {
  display: flex;
  flex-direction: column;
  gap: 10px;

  #title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    #button {
      flex-shrink: 0;
    }

    span {
      transition: transform 0.5 ease-in-out;
      text-align: center;
      width: 100%;
    }
  }
}

#main {
  display: flex;
  gap: 10px;

  > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

    textarea,
    pre {
      color: var(--color-text);
      width: 100%;
      white-space: pre-wrap;
      word-break: break-word;
    }

    #actions {
      flex-shrink: 0;
      display: flex;
      justify-content: end;
    }
  }
}

@media screen and (max-width: 800px) {
  #main {
    flex-direction: column;
  }
}
