.home-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  color: var(#fff);
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 20% center;
  filter: brightness(50%);
}

main {
  position: absolute;
  height: 100%;
  padding: 20px max(calc(50vw - 400px), 20px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;

  >p {
    margin-top: 30dvh;
  }
}


nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  width: 100%;

  .card {
    height: 100%;
  }
}