.container-quiz-home {
  display: flex;
  justify-content: center;
  padding: 20px;
  overflow: auto;
}

#list {
  flex-direction: column;
  gap: 10px;
  width: 600px;
}

#failed {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.question-bank {
  width: 100%;
  font-size: 1em;
}