#app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

#app-bar {
  z-index: 10000;
}

#content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  margin: 0 auto;
  transition: opacity 0.25s ease-in-out;
}

#ul {
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow-y: hidden;
  padding: 0 max(20px, calc(50dvw - 400px));
  h2 {
    text-align: center;
  }
  #log {
    height: 100%;
    overflow-y: auto;
  }
  > * {
    padding: 10px 20px;
  }
}
