#app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

#content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  margin: 0 auto;
  transition: opacity 0.25s ease-in-out;
}

html[data-theme='dark'] #router-loading {
  background-color: rgba(0, 0, 0, 0.8);
}
